<ul class="header-menu">
    <li><a routerLink="/home" routerLinkActive="li-active"><i class="material-icons">home</i>
            <span>Home</span></a></li>
    <li><a routerLink="/register-patient" routerLinkActive="li-active"><i class="material-icons">how_to_reg</i>
            <span>Register Patient</span></a></li>
    <li><a routerLink="/book-appointment" routerLinkActive="li-active"><i class="material-icons">book</i>
            <span>Book Appointments</span></a></li>
    <li><a routerLink="/appointments" routerLinkActive="li-active"><i class="material-icons">format_list_numbered</i>
            <span>Manage Appointments</span></a></li>
    <li><a routerLink="/accept-bill" routerLinkActive="li-active"><i class="material-icons">payment</i>
            <span>Accept Bills</span></a></li>
    <li><a routerLink="/view-bill" routerLinkActive="li-active"><i class="material-icons">payment</i>
            <span>View Bills</span></a></li>
    <li><a routerLink="/logout" routerLinkActive="li-active"><i class="material-icons">power_settings_new</i>
            <span>Logout</span></a></li>
</ul>