
.header-menu{
    display: block;
    padding: 0px;
    margin-top: 20px;
    width: 250px;
}

.header-menu li{
    display: block;
    list-style: none;
}
.header-menu li a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 7px 15px;
    border-bottom: 1px solid #f7f7f7;
}
.header-menu li a span{
    display: inline-block;
    vertical-align: middle;
}
.header-menu li a i{
    color: #fd6732;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.header-menu li a:hover, .header-menu li a:focus{
    background: #f7f7f7;
}
.li-active{
    background: #f7f7f7;
}